 .u-section-1 {
   
}

.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-table-1 {
  margin-top: 215px;
  margin-bottom: 60px;
  margin-left: 0;
}

.u-block-3c77-49 {
  border-style: dotted;
}

.u-block-3c77-48 {
  border-style: dotted;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-table-cell-1 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-2 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-3 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-4 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-5 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-6 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-7 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-8 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-9 {
  padding: 10px 20px;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-11 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-12 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-13 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-14 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-15 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-16 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-17 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-18 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-block-3c77-35 {
  background-image: none;
}

.u-block-3c77-81 {
  padding: 10px 20px;
}

.u-block-3c77-89 {
  padding: 10px 20px;
}

.u-block-3c77-97 {
  padding: 10px 20px;
}

.u-block-3c77-105 {
  padding: 10px 20px;
}

.u-block-3c77-113 {
  padding: 10px 20px;
}

.u-block-3c77-121 {
  padding: 10px 20px;
}

.u-block-3c77-129 {
  padding: 10px 20px;
}

.u-block-3c77-137 {
  padding: 10px 20px;
}

.u-block-3c77-145 {
  padding: 10px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-1 .u-table-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 926px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }
}